<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Anslutning Oracle databas; 1:a hand maskinmiljövariabler [topospecialuser|topospecialpassword|topospecialservice], 2:a hand nedan nyckel -->
  <!-- Använder sig av Oracle Provider for OLE DB -->
  <add key="OracleOleDBConStringTOPO_SPECIAL" value="Provider=OraOLEDB.Oracle;Data Source=;User Id=;Password=;" />

  <!-- Versionering -->
  <!-- Sätts till true om inställningen "Version" ska användas istället för versioneringen i assemblyn -->
  <add key="AssemblyVersionOverride" value="false" />
  <!-- Versionering om annan än assemblyn. Används om AssemblyVersionOverride = true -->
  <add key="Version" value="1.0" />
  <!-- Används och ges värde om något annat ska skrivas framför versionsnumret. Standard är ett v om lämnas tom -->
  <add key="VersionPrefix" value="" />
  <!-- Används och ges värde om ett suffix efter versionsnumret önskas, t.ex. alfa, beta, a, b etc. -->
  <add key="VersionSuffix" value=" beta" />
</appSettings>